body {
    background-color: #eef4f8;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar{
    background-color: red;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    padding: 0 8%;
}